﻿@using Inventory.Helper

<style>
    #modalsetuppenyerahan .input-detail td {
        white-space: nowrap;
    }

    tr.active td {
        background-color: #a1a1a1 !important;
    }

    .panel-red {
        background-color: #c3ebff;
        color: #313447;
    }

    .btn-lain {
        background-color: #2c404c;
        color: #ffffff;
        border-color: #c5c0c0;
    }

    .panel-bodycustom {
        padding: 5px;
    }

    .form-group {
        margin-bottom: 8px;
        position: relative;
    }
</style>

<div id="modalsetuppenyerahan" class="modal fade " key-keyboard="false" role="dialog" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-bold text-center">SERAHKAN RESEP</h4>
                
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <h6 id="nobuktidisplay" class="modal-title text-center">APAKAH INGIN MENYERAHKAN NO BUKTI </h6>
                        <h6 id="namadisplay" class="modal-title text-center">APAKAH INGIN MENYERAHKAN NO BUKTI </h6>
                        <input type="hidden" name="_PROCESS" />
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" name="NoBukti" class="form-control hidden" />
                                <input type="text" name="NamaPasien" class="form-control hidden" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>SERAHKAN</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>

<script>
    var isetuppenyerahan;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetuppenyerahan = new iSetup({
            modal: 'modalsetuppenyerahan',
            urldetail: '@Url.Action("DetailPenyerahan")',
            urlsave: '@Url.Action("SavePenyerahan")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetuppenyerahan.form;
                    $("#nobuktidisplay").text(r.Data.NoReg);
                    $("#namadisplay").text(r.Data.Nama);
                    // value
                    t['NoBukti'].value = r.Data.NoReg;
                    t['NamaPasien'].value = r.Data.Nama;
                    isetuppenyerahan.init();
                    isetuppenyerahan.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetuppenyerahan.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {
                        // param
                        NoBukti: t['NoBukti'].value,
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    alertpopup('Penyerahan Resep Sukses', 'success');
                    isetuppenyerahan.modal.modal('hide');
                    isetuppenyerahan.init();
                } else alerterror(r.Message);
                itable.refresh();

            },
            setupready: function () {
                var t = isetuppenyerahan.form;
                
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'CREATE') {
                    $(t).find('.btn-proses-telaahobat').addClass('hide');
                    $(t).find('.btn-proses-telaahresep').addClass('hide');
                    $(t).find('.btn-proses-printresep').addClass('hide');
                    $("#tablebarang").find("thead tr td:nth-child(1)").removeClass("hidden");
                } else if (t['_PROCESS'].value === 'VIEW')
                {
                    $(t).find('.btn-proses-telaahobat').removeClass('hide');
                    $(t).find('.btn-proses-telaahresep').removeClass('hide');
                    $(t).find('.btn-proses-printresep').removeClass('hide');
                    $(t).find('.btn-proses-telaahresep').removeClass('hide');
                    $("#tablebarang").find("tbody tr td:nth-child(2)").addClass("hidden");
                }
                else {
                    $(t).find('.btn-proses-telaahobat').removeClass('hide');
                    $(t).find('.btn-proses-telaahresep').removeClass('hide');
                }

            },
            onopenmodalcreate: function (t, param) {
                isetuppenyerahan.init();

                $(isetuppenyerahan.form).find('.input-detail tbody').html('');

                let h = new Date().getHours();
                let m = new Date().getMinutes();
                h = h < 10 ? '0' + h : h;
                m = m < 10 ? '0' + m : m;
                const time = 'T' + h + ':' + m;

                isetuppenyerahan.form['Tanggal'].value = formatdate(new Date()) + time;
                $(t).find('.input-detail tbody').html('');
                isetuppenyerahan.form['SectionAsal'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                isetuppenyerahan.form['Dokter'].value = '';
                $(isetuppenyerahan.form['Dokter']).trigger('change');
                isetuppenyerahan.form['Spesialis'].value = '';
                isetuppenyerahan.cleave_detail_harga = [];

                //$('#createmodal').addClass('hide');
                $('#noregbutton').removeClass('disabled');
                $('#noresepbutton').removeClass('disabled');
                $('#lookupbaranghide').removeClass('disabled');
                $('#tablebarang').find('href, i').removeClass('hide');
                $('#tablebarang').find('input, textarea, button, select').removeAttr('disabled', 'disabled');
                $("#tablebarang").find("thead tr td:nth-child(1)").removeClass("hidden");
                $("#tablebarang").find("thead tr td:eq(1)").removeClass("hidden");
                $("#tablebarang").find("tbody tr td:eq(1)").removeClass("hidden");
                $("#tablebarang").find("thead tr td:eq(2)").removeClass("hidden");
                $("#tablebarang").find("tbody tr td:eq(2)").removeClass("hidden");
                $(t).find('.btn-proses-tambahbaru').addClass('hide');



                $('#Nama').text('-');
                $('#Alamat').text('-');

                $('#NoKartu').text('-');
                $('#NRM').text('-');
                $('#JenisKelamin').text();
                $('#Umur').text('-');
                $('#EstimasiBiaya').text('-');

            }
        });

        $('#modalsetuppenyerahan').on('shown.bs.modal', e => {
            if (isetuppenyerahan.form['_PROCESS'].value === 'CREATE') {
                itablelookupregistrasi.openmodal();
            }

        });
    });
</script>

