﻿@{
    ViewBag.Title = "Infor Formularium Obat";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper
@using Microsoft.AspNet.Identity

<style>
    #formtable table td,
    #formtable table th {
        white-space: nowrap;
    }
</style>

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading"></div>
        <div class="form-group">
            <div class="col-md-2">
                <label>Filter</label>
                <input type="text" name="all" data-itable-filter="All" class="form-control" value="" />
            </div>
            <div class="col-md-3">
                <label>Sub Kategori</label>
                <div class="input-group">
                    <span class=" input-group-addon">
                        <input id="plhfiltersubbrg" name="Pilihfiltersub" type="checkbox" onclick="itable.pilihsub(); itable.refresh();" />
                    </span>
                    <select id="subkategorislct" onchange="itable.pageindex = 0; itable.refresh();" name="subKategori" data-itable-filter="SubKategori" class="form-control" disabled>@Html.Raw(HList.SetupKategori)</select>
                </div>
            </div>
            <div class="col-md-1">
                <label>Page</label>
                <select class="form-control itable-pagesize" style="width: auto;" name="show">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                <div class="datatable-header">

                </div>
            </div>
            <div class="datatable-scroll table-responsive">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th data-itable-sorting="KOde_Barang" class="sorting" style="width:100px;">Kode<i></i></th>
                            <th data-itable-sorting="Nama_Barang" class="sorting">Nama<i></i></th>
                            <th data-itable-sorting="Nama_Kategori" class="sorting">Kategori<i></i></th>
                            <th data-itable-sorting="KelompokJenis" class="sorting">Kelompok<i></i></th>
                            <th data-itable-sorting="FormulariumUMUM" class="sorting text-center" style="width:100px;">Frm UMUM<i></i></th>
                            <th data-itable-sorting="FormulariumHC" class="sorting text-center" style="width:100px;">Frm HC<i></i></th>
                            <th data-itable-sorting="Fornas" class="sorting text-center" style="width:100px;">Frm JKN<i></i></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'KOde_Barang',
            orderbytype: false,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="8" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr>';

                        // column
                        tbody += '<td>' + (value.Kode || '-') + '</td>';
                        tbody += '<td>' + (value.Nama || '-') + '</td>';
                        tbody += '<td>' + (value.Kategori || '-') + '</td>';
                        tbody += '<td>' + (value.Kelompok || '-') + '</td>';
                        tbody += '<td class="text-center"><input class="input-hc" type="checkbox" ' + (value.FrmUMUM ? 'checked' : '') + ' /></td>';
                        tbody += '<td class="text-center"><input class="input-umum" type="checkbox" ' + (value.FrmHC ? 'checked' : '') + ' /></td>';
                        tbody += '<td class="text-center"><input class="input-fornas" type="checkbox" ' + (value.FrmJKN ? 'checked' : '') + ' /></td>';
                        tbody += '<td class="text-center"><button type="button" onclick="itable.saveonclick(this, ' + value.Id + ')" class="btn-xs btn btn-primary">SAVE</button></td>';

                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itable.saveonclick = (t, id) => {
            $(t).attr('disabled', 'disabled');
            $(t).html('<i class="icon-spinner2 spinner"></i>');
            const tr = $(t).closest('tr');
            $.ajax({
                url: '@Url.Action("Save")',
                type: 'POST',
                data: {
                    id: id,
                    hc: tr.find('.input-hc')[0].checked,
                    umum: tr.find('.input-umum')[0].checked,
                    fornas: tr.find('.input-fornas')[0].checked
                },
                success: function (r) {
                    r = JSON.parse(r);
                    if (r.IsSuccess) {
                        $(t).html('SAVE');
                    } else
                        $(t).html('ERROR');
                },
                error: function (xhr) { alerterror(xhr); },
                complete: function () {
                    $(t).removeAttr('disabled');
                }
            });
        };

        $('#formtable [data-itable-filter="SubKategori"]')[0].value = '';

        itable.refresh();

        itable.pilihsub = function () {
            $checkbox = $("#plhfiltersubbrg").is(":checked");
            var f = $('#modalfilter form')[0];
            if ($checkbox === true) {
                $('#formtable [data-itable-filter="SubKategori"]').prop('disabled', false);
                //$('#formtable [data-itable-filter="SubKategori"]')[0].value = f['subkategori'].value;
            } else {
                $('#formtable [data-itable-filter="SubKategori"]')[0].value = '';
                $('#formtable [data-itable-filter="SubKategori"]').prop('disabled', true);
            }

        }
    });
</script>