﻿@{
    ViewBag.Title = "Setup Dosis Obat";
    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-plus" href="javascript:isetup.opensetup('CREATE')"></a></li>
                    <li><a class="panel-action action-reload" href="javascript:itable.refresh()"></a></li>
                </ul>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                <div class="dataTables_filter">
                    <label>
                        <span>Filter:</span>
                        <input type="search" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                    </label>
                </div>
                <div class="dataTables_length">
                    <label>
                        <span>Show:</span>
                        <select class="form-control itable-pagesize" style="width: auto;">
                            <option selected>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th class="sorting" data-itable-sorting="KodeDosis" ><i></i></th>
                            <th class="sorting" data-itable-sorting="KodeDosis" style="width:200px;">Kode<i></i></th>
                            <th class="sorting" data-itable-sorting="Dosis">Nama<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'KodeDosis',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="3" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="odd">';

                        // JS Columns
                        tbody += `<td class="text-left"><a onclick="extend(this,'${value.Kode}', '${value.Nama}')"><span class='icon-diff-added'></span></a>&nbsp;${value.Kode}</td>`;
                        // ----- JS Columns

                        // column
                        tbody += '<td>' + value.Kode + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        tbody += '<li><a href="javascript:isetup.opensetup(\'EDIT\',{ id : \'' + value.Id + '\'})"><i class="icon-pencil"></i> Edit</a></li>';

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });
    itable.refresh();
    });
    const extend = (t, Kode, Nama) => {
        const tr = $(t).closest('tr');
        if (tr.next().hasClass('child')) {
            $(t).find('span').removeClass('icon-diff-removed').addClass('icon-diff-added');
            tr.next().remove();
        } else {
            tr.after(`
                <tr class="child">
                    <td class="child" colspan="5">
                        <ul>
                            <li>
                                <span class ="dtr-title">ID</span>
                                <span class ="dtr-data">${Kode}</span>
                            </li>
                            <li>
                                <span class ="dtr-title">Nama</span>
                                <span class ="dtr-data">${Nama}</span>
                            </li>
                        </ul>
                    </td>
                </tr>
            `);
            $(t).find('span').removeClass('icon-diff-added').addClass('icon-diff-removed');
        }
    };
</script>
@Html.Partial("Setup")