﻿<div id="modallookuppaket" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Paket</h4>
            </div>
            <form id="lookuppaket">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input type="search" class="form-control" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </div>
                            <div class="form-group hide">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" style="width: auto;" onchange="itablelookuppaket.refresh()">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="KodePaket" style="width: 180px;">Kode<i></i></th>
                                    <th class="sorting" data-itable-sorting="NamaPaket">Nama<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookuppaket.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookuppaket;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookuppaket = new iTable({
            url: '@Url.Action("ListLookuppaket")',
            table: document.getElementById('lookuppaket'),
            orderby: 'KodePaket',
            orderbytype: true,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="2" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookuppaket.detailactive(this)">';

                        // column
                        tbody += '<td>' + value.Kode + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itablelookuppaket.openmodal = function(t) {
            itablelookuppaket.refresh();
            $('#modallookuppaket').modal();
            $('.modal-backdrop:last').css('z-index',$('#modallookuppaket').css('z-index') - 1);
        }

        itablelookuppaket.detailactive = function(t) {
            if ($(t).hasClass('bg-primary')) {
                itablelookuppaket.selected(t);
            } else {
                $(t).closest('tbody').find('.bg-primary').removeClass('bg-primary');
                $(t).addClass('bg-primary');
            }
        }

        itablelookuppaket.selected = function(t) {
            var model = JSON.parse($(t).closest('.modal').find('table tbody tr.bg-primary').data('model'));
            $.ajax({
                url: '@Url.Action("DetailPaket")',
                type: 'POST',
                data: { id: model.Kode },
                success: function (r) {
                    r = JSON.parse(r);
                    if (r.IsSuccess) {
                        isetup.form['KodePaket'].value = model.Kode;
                        isetup.form['Paket'].value = model.Nama;
                        // detail
                        $(isetup.form).find('.input-detail tbody tr:not(.lockdelete)').remove();
                        $.each(r.Detail, function (index, value) {
                            isetup.adddetailbody(
                                value.Id,
                                value.Kode,
                                value.Nama,
                                value.Satuan,
                                '',
                                '',
                                '',
                                value.JumlahResep,
                                value.JumlahObat,
                                value.Stok,
                                value.Harga,
                                0,
                                ''
                            );
                        });

                        $(t).closest('.modal').modal('hide');
                    } else
                        alerterror(r.Message);
                },
                error: function (xhr) { alerterror(xhr); },
                beforeSend: function () { loading(true); },
                complete: function () { loading(false); }
            });
        }

        $('#modallookuppaket').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });
</script>