﻿@using Inventory.Helper
@{
    ViewBag.Title = "Obat Generik";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-reload" href="javascript:itable.refresh()"></a></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label>Filter</label>
                <input type="text" name="all" data-itable-filter="All" class="form-control" value="" />
            </div>
            <div class="col-md-3">
                <label>Sub Kategori</label>
                <div class="input-group">
                    <span class=" input-group-addon">
                        <input id="plhfiltersubbrg" name="Pilihfiltersub" type="checkbox" onclick="itable.pilihsub(); itable.refresh();" />
                    </span>
                    <select id="subkategorislct" onchange="itable.pageindex = 0; itable.refresh();" name="subKategori" data-itable-filter="SubKategori" class="form-control" disabled>@Html.Raw(HList.SetupKategori)</select>
                </div>
            </div>
            <div class="col-md-1">
                <label>Page</label>
                <select onchange="itable.pageindex = 0; itable.refresh();" class="form-control itable-pagesize" style="width: auto;" name="show">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>

                            <th class="sorting" data-itable-sorting="Kode_Barang" style="width:100px;">Kode<i></i></th>
                            <th class="sorting" data-itable-sorting="Nama_Barang">Nama<i></i></th>
                            <th class="sorting" data-itable-sorting="Nama_Barang">Sub Kategori<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'Kode_Barang',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="4" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="odd">';

                        // column
                        tbody += '<td>' + value.Kode + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td>' + value.NamaSubKategori + '</td>';

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        tbody += '<li><a href="javascript:isetup.opensetup(\'EDIT\',{ id : \'' + value.Id + '\'})"><i class="icon-pencil"></i> Edit</a></li>';

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        $('#formtable [data-itable-filter="SubKategori"]')[0].value = '';
        itable.refresh();

        itable.pilihsub = function () {
            $checkbox = $("#plhfiltersubbrg").is(":checked");
            var f = $('#modalfilter form')[0];
            if ($checkbox === true) {
                $('#formtable [data-itable-filter="SubKategori"]').prop('disabled', false);
                //$('#formtable [data-itable-filter="SubKategori"]')[0].value = f['subkategori'].value;
            } else {
                $('#formtable [data-itable-filter="SubKategori"]')[0].value = '';
                $('#formtable [data-itable-filter="SubKategori"]').prop('disabled', true);
            }

        }
    });
</script>
@Html.Partial("Setup")