﻿<style>
    #modallookupsection .table td,
    #modallookupsection .table th {
        white-space: nowrap;
    }
</style>
@using Inventory.Helper

<div id="modallookupsection" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Section</h4>
            </div>
            <form id="lookupsection">
                <div class="form-group">
                    <div class="col-md-2">
                        <label>Filter</label>
                        <input type="text" name="all" data-itable-filter="All" class="form-control" value="" />
                    </div>
                    <div class="col-md-2">
                        <label>Page</label>
                        <select class="form-control itable-pagesize" style="width: auto;" name="show">
                            <option selected>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option selected>100</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" style="margin-top : 27px" class="btn-save btn btn-primary"><i class="icon icon-search4"></i>Cari</button>
                    </div>
                </div>
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header">
                        <input type="hidden" data-itable-filter="Lokasi">
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="Nama_Lokasi">Section<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-danger" onclick="itablelookupsection.selectedall(this)"><i class="icon-stack-check"></i> SELECT ALL</button>
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupsection.selected(this)"><i class="icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupsection;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupsection = new iTable({
            url: '@Url.Action("ListLookupSection")',
            table: document.getElementById('lookupsection'),
            orderby: 'Nama_Lokasi',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="6" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupsection.active(this)">';

                        // column
                        tbody += '<td>' + value.Nama + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else alert(r.Message);
            }
        });



        $('#modallookupsection').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });
        $('#modallookupsection').on('shown.bs.modal', function (e) {
            //$('#modallookupsection [data-itable-filter="Subkategori"]').focus();
        });

        itablelookupsection.active = (t) => {
            $(t).toggleClass('bg-primary');
        }

        itablelookupsection.openmodal = () => {
            $('#modallookupsection [data-itable-filter="Lokasi"]').val('@Request.Cookies["Inventory_Section_LokasiId"].Value');
            itablelookupsection.pageindex = 0;
            itablelookupsection.refresh();
            $('#modallookupsection').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupsection').css('z-index') - 1);
        }

        itablelookupsection.selected = function (t) {
            $.each($(t).closest('.modal').find('table tbody tr.bg-primary'), function (index, value) {
                var model = JSON.parse($(value).data('model'));

                //id, section, min, max, qty, aktif)
                isetup.adddetailbody(
                    model.Id,
                    0,
                    0,
                    '',
                    true
                );
            });
            $(t).closest('.modal').modal('hide');
        }

        itablelookupsection.selectedall = function (t) {
            $(t).hide();
            $.each($(t).closest('.modal').find('table tbody tr'), function (index, value) {
                var model = JSON.parse($(value).data('model'));

                isetup.adddetailbody(
                    model.Id,
                    0,
                    0,
                    '',
                    true
                );
            });
            $(t).closest('.modal').modal('hide');
        }

        itable.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['all'].value = $('#formtable [data-itable-filter="All"]')[0].value;
            //f['kategori'].value = isetup.form['SubKategori'].value;
            //f['show'].value = $('#formtable .itable-pagesize')[0].value;
            $('#modalfilter').modal();
        }

        itable.filtersubmit = function (t, e, status) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#formtable [data-itable-filter="All"]')[0].value = f['all'].value;
            //$('#formtable [data-itable-filter="Kategori"]')[0].value = f['kategori'].value;
            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
        }
    });
</script>