﻿@{
    ViewBag.Title = "Barang";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper
@{
    var cekcookie = Request.Cookies["Inventory_Section_Id"].Value;
    var gudangfarmasi = "SEC081";
}

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-plus" href="javascript:isetup.opensetup('CREATE')"></a></li>
                    <li><a class="panel-action action-reload" href="javascript:itable.refresh()"></a></li>
                    <li><a class="panel-action action-filter" href="javascript:itable.openfilter()"></a></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label>Filter</label>
                <input type="text" name="all" data-itable-filter="All" class="form-control" value="" />
            </div>
            <div class="col-md-2">
                <label>Status</label>
                <select name="statusobat" onchange="itable.pageindex = 0; itable.refresh();" data-itable-filter="Status" class="form-control">@Html.Raw(HList.FilterStatus)</select>
            </div>
            <div class="col-md-3">
                <label>Sub Kategori</label>
                <div class="input-group">
                    <span class=" input-group-addon">
                        <input id="plhfiltersubbrg" onchange="itable.pageindex = 0; itable.refresh();" name="Pilihfiltersub" type="checkbox" onclick="itable.pilihsub()" />
                    </span>
                    <select id="subkategorislct" onchange="itable.pageindex = 0; itable.refresh();" name="subKategori" data-itable-filter="SubKategori" class="form-control" disabled>@Html.Raw(HList.SetupKategori)</select>
                </div>
            </div>
            <div class="col-md-1">
                <label>Page</label>
                <select class="form-control itable-pagesize" onchange="itable.pageindex = 0; itable.refresh();" style="width: auto;" name="show">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="col-md-2 hide">
                <button type="submit" style="margin-top : 27px" class="btn-save btn btn-primary"><i class="icon icon-search4"></i>Cari</button>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">

            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th data-itable-sorting="Kode_Barang" class="sorting" style="width:100px;">Kode<i></i></th>
                            <th data-itable-sorting="Nama_Barang" class="sorting">Nama<i></i></th>
                            <th data-itable-sorting="Qty_Stok" class="sorting" style="width:100px;">Stok<i></i></th>
                            @if(cekcookie == gudangfarmasi)
                            {
                            <th data-itable-sorting="QtyUnitLain" class="sorting" style="width:100px;">Stok Apotek<i></i></th>
                            }
                            <th data-itable-sorting="Satuan" class="sorting" style="width:100px;">Satuan<i></i></th>
                            <th data-itable-sorting="Nama_Sub_Kategori" class="sorting" style="width:150px;">Sub Kategori<i></i></th>
                            <th data-itable-sorting="Aktif" class="sorting" style="width:150px;">Aktif<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>


<div id="modalfilter" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form autocomplete="off" onsubmit="itable.filtersubmit(this,event)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filter</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Filter</label>
                            <div class="col-md-8">
                                <input type="text" name="all" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Section</label>
                            <div class="col-md-8">
                                <select name="resepfilter" class="form-control">@Html.Raw(HList.FilterStatus)</select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Show</label>
                            <div class="col-md-8">
                                <select class="form-control" style="width: auto;" name="show">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="icon icon-check"></i> OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'Kode_Barang',
            tablesuccess: function (r, t) {
                var cek = '@Request.Cookies["Inventory_Section_Id"].Value';
                var gdfarmasi = "SEC081";
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="7" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="odd">';

                        // column
                        tbody += '<td>' + (value.Kode || '-') + '</td>';
                        tbody += '<td>' + (value.Nama || '-') + '</td>';
                        tbody += '<td>' + (value.Stok || '-') + '</td>';
                        if (cek == gdfarmasi) {
                            tbody += '<td>' + (value.StokApotek || '-') + '</td>';
                        }
                        tbody += '<td>' + (value.Satuan || '-') + '</td>';
                        tbody += '<td>' + (value.Nama_Sub_Kategori || '-') + '</td>';
                        tbody += `<td class="text-center"><input type="checkbox" disabled ${value.Aktif && 'checked'}/></td>`;

                        //tbody += '<td>' + value.Aktif + '</td>';

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        tbody += '<li><a href="javascript:isetup.opensetup(\'EDIT\',{ id : \'' + value.Id + '\'})"><i class="icon-pencil"></i> Edit</a></li>';

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });
        $('#formtable [data-itable-filter="SubKategori"]')[0].value = '';
        $('#formtable [data-itable-filter="Status"]')[0].value = true;
        itable.refresh();

        itable.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['all'].value = $('#formtable [data-itable-filter="All"]')[0].value;
            f['statusobat'].value = $('#formtable [data-itable-filter="Status"]')[0].value;
            f['subkategori'].value = $('#formtable [data-itable-filter="SubKategori"]')[0].value;
            //f['show'].value = $('#formtable .itable-pagesize')[0].value;
            $('#modalfilter').modal();
        }

        itable.filtersubmit = function (t, e, status) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#formtable [data-itable-filter="All"]')[0].value = f['all'].value;
            $('#formtable [data-itable-filter="Status"]')[0].value = f['statusobat'].value;
            $('#formtable [data-itable-filter="SubKategori"]')[0].value = f['subkategori'].value;

            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
        }

        itable.pilihsub = function () {
            $checkbox = $("#plhfiltersubbrg").is(":checked");
            var f = $('#modalfilter form')[0];
            if ($checkbox === true) {
                $('#formtable [data-itable-filter="SubKategori"]').prop('disabled', false);
                //$('#formtable [data-itable-filter="SubKategori"]')[0].value = f['subkategori'].value;
            } else {
                $('#formtable [data-itable-filter="SubKategori"]')[0].value = '';
                $('#formtable [data-itable-filter="SubKategori"]').prop('disabled', true);
            }

        }
    });
</script>
@Html.Partial("Setup")
@Html.Partial("_LookUpSection")