﻿@using Inventory.Controllers
@using Inventory.Helper
@{
    //var listakun = "";
    var listakun = HList.InventorySetupJenisAkun;
}

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Barang</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Id" />
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
                                <li role="presentation"><a href="#detail" aria-controls="profile" role="tab" data-toggle="tab">Detail</a></li>
                                <li role="presentation"><a href="#lokasi" aria-controls="profile" role="tab" data-toggle="tab">Lokasi</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="general">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Kelompok</label>
                                                <div class="col-md-8">
                                                    <select required name="Kelompok" onchange="isetup.kelompokonchange()">@Html.Raw(HList.InventorySetupJenisKelompok)</select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Kelompok Jenis</label>
                                                <div class="col-md-8">
                                                    <select name="Jenis" required></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Kode</label>
                                                <div class="col-md-8">
                                                    <input type="text" name="Kode" class="form-control all-readonly" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Nama</label>
                                                <div class="col-md-8">
                                                    <input type="text" name="Nama" class="form-control" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Kategori</label>
                                                <div class="col-md-8">
                                                    <select name="Kategori" onchange="isetup.kategorionchange()"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Sub Kategori</label>
                                                <div class="col-md-8">
                                                    <select name="SubKategori" onchange="isetup.subkategorionchange()"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Kelas</label>
                                                <div class="col-md-8">
                                                    <select name="Kelas"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Golongan</label>
                                                <div class="col-md-8">
                                                    <select name="Golongan">@Html.Raw(HList.InventorySetupBarangGolongan)</select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">KelompokGrading</label>
                                                <div class="col-md-8">
                                                    <select required name="KelompokGrading">@Html.Raw(HList.InventorySetupBarangKelompokGrading)</select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">&nbsp;</label>
                                                <div class="col-md-8">
                                                    <label class="checkbox-inline">
                                                        Formularium Umum
                                                        <input name="FormulariumUmum" type="checkbox" />
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">&nbsp;</label>
                                                <div class="col-md-8">
                                                    <label class="checkbox-inline">
                                                        Formularium JKN
                                                        <input name="FormulariumJKN" type="checkbox" />
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">&nbsp;</label>
                                                <div class="col-md-8">
                                                    <label class="checkbox-inline">
                                                        Aktif
                                                        <input name="Aktif" type="checkbox" />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="detail">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Satuan Pembelian</label>
                                                <div class="col-md-8">
                                                    <select required="required" name="SatuanPembelian">@Html.Raw(HList.InventorySetupBarangSatuan)</select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Harga Beli</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control text-right" name="HargaBeli" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">PPN</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input type="number" class="form-control text-right" name="PPN" />
                                                        <div class="input-group-addon">%</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Tgl ED</label>
                                                <div class="col-md-8">
                                                    <input type="date" name="TglED" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Satuan Stok</label>
                                                <div class="col-md-8">
                                                    <select required name="SatuanStok">@Html.Raw(HList.InventorySetupBarangSatuan)</select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Konversi</label>
                                                <div class="col-md-8">
                                                    <input type="number" class="form-control text-right" name="Konversi" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Harga Pokok</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control text-right" name="HargaPokok" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Harga Rata Rata</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control text-right" name="HargaRata2" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">CN On Faktur</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input type="number" class="form-control text-right" name="CNOnFaktur" />
                                                        <div class="input-group-addon">%</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">CN Off Faktur</label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input type="number" class="form-control text-right" name="CNOffFaktur" />
                                                        <div class="input-group-addon">%</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Supplier</label>
                                                <div class="col-md-8">
                                                    <select name="Supplier">@Html.Raw(HList.Supplier)</select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="checkbox-inline">
                                                        <input id="checkhet" name="HETcheck" type="checkbox" onclick="isetup.pilihhet()" />
                                                        HET
                                                    </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input id="het" type="text" class="form-control text-right" name="HET" disabled/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="lokasi" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-6 pull-left">
                                            <a onclick="itablelookupsection.openmodal(true)">
                                                <i class="icon icon-plus2"></i>Multi Section
                                            </a>
                                        </div>
                                        <div class="col-md-6 pull-right">
                                            <div class="pull-right">
                                                <label id="centangsemua" class="checkbox-inline">
                                                    <input id="AktifSemua" name="AktifSemua" type="checkbox" />
                                                    Aktif Semua
                                                </label>
                                                <label id="centangsemua" class="checkbox-inline">
                                                    <input id="HideSemua" name="HideSemua" type="checkbox" />
                                                    Hide Semua
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a onclick="isetup.adddetailbody(0,0,0,0,false)"><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>Section</td>
                                                            <td style="width:100px;">Min</td>
                                                            <td style="width:100px;">Max</td>
                                                            <td style="width:80px;">Qty</td>
                                                            <td style="width:80px;">Aktif</td>
                                                            <td style="width:80px;">Hide</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.loading = true;
                    var t = isetup.form;

                    // value
                    t['Id'].value = r.Data.Id;
                    t['Kelompok'].value = r.Data.Kelompok;
                    t['Jenis'].value = r.Data.Jenis;
                    t['Kode'].value = r.Data.Kode;
                    t['Nama'].value = r.Data.Nama;
                    t['Aktif'].checked = r.Data.Aktif;
                    t['Kategori'].value = r.Data.Kategori;
                    t['SubKategori'].value = r.Data.SubKategori;
                    t['Kelas'].value = r.Data.Kelas;
                    t['Golongan'].value = r.Data.Golongan;
                    t['KelompokGrading'].value = r.Data.KelompokGrading;
                    t['FormulariumUmum'].value = r.Data.FormulariumUmum;
                    t['FormulariumJKN'].checked = r.Data.FormulariumJKN;
                    t['SatuanPembelian'].checked = r.Data.SatuanPembelian;
                    t['PPN'].value = r.Data.PPN;
                    t['SatuanStok'].value = r.Data.SatuanStok;
                    t['Konversi'].value = r.Data.Konversi;
                    t['CNOnFaktur'].checked = r.Data.CNOnFaktur;
                    t['CNOffFaktur'].checked = r.Data.CNOffFaktur;
                    t['Supplier'].value = r.Data.Supplier;
                    //t['HET'].value = getfloatfromcurrency(r.Data.HET);
                    //t['HargaBeli'].value = getfloatfromcurrency(r.Data.HargaBeli);
                    //t['HargaPokok'].value = getfloatfromcurrency(r.Data.HargaPokok);
                    //t['HargaRata2'].value = getfloatfromcurrency(r.Data.HargaRata2);
                    t['HETcheck'].checked = r.Data.HETcheck;
                    t['TglED'].value = r.Data.TglED ;


                    isetup.cleave_HargaBeli.setRawValue(r.Data.HargaBeli);
                    isetup.cleave_HargaPokok.setRawValue(r.Data.HargaPokok);
                    isetup.cleave_HargaRata2.setRawValue(r.Data.HargaRata2);
                    isetup.cleave_HET.setRawValue(r.Data.HET);

                    const optionJenis = new Option(r.Data.Jenis, r.Data.JenisNama, true, true);
                    $(t['Jenis']).append(optionJenis);

                    const optionKategori = new Option(r.Data.KategoriNama, r.Data.Kategori, true, true);
                    $(t['Kategori']).append(optionKategori);

                    const optionSubKategori = new Option(r.Data.SubKategoriNama, r.Data.SubKategori, true, true);
                    $(t['SubKategori']).append(optionSubKategori);

                    const optionKelas = new Option(r.Data.KelasNama, r.Data.Kelas, true, true);
                    $(t['Kelas']).append(optionKelas);

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Min,
                            value.Max,
                            value.Qty,
                            value.Aktif,
                            value.Hide,
                            true
                        );
                    });

                    isetup.init();
                    if (t['_PROCESS'].value === 'EDIT') {
                        $('#centangsemua').removeClass('hidden');
                    }
                    isetup.modal.modal({ backdrop: 'static' });
                    isetup.loading = false;
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        Id: t['Id'].value,
                        Kelompok: t['Kelompok'].value,
                        Jenis: t['Jenis'].value,
                        Kode: t['Kode'].value,
                        Nama: t['Nama'].value,
                        Aktif: t['Aktif'].checked,
                        Kategori: t['Kategori'].value,
                        SubKategori: t['SubKategori'].value,
                        Kelas: t['Kelas'].value,
                        Golongan: t['Golongan'].value,
                        KelompokGrading: t['KelompokGrading'].value,
                        FormulariumUmum: t['FormulariumUmum'].checked,
                        FormulariumJKN: t['FormulariumJKN'].checked,
                        SatuanPembelian: t['SatuanPembelian'].value,
                        PPN: t['PPN'].value,
                        SatuanStok: t['SatuanStok'].value,
                        Konversi: t['Konversi'].value,
                        CNOnFaktur: t['CNOnFaktur'].value,
                        CNOffFaktur: t['CNOffFaktur'].value,
                        Supplier: t['Supplier'].value,
                        HETcek: t['HETcheck'].checked,
                        HET: parseFloat(isetup.cleave_HET.getRawValue()) || 0,
                        HargaPokok: parseFloat(isetup.cleave_HargaPokok.getRawValue()) || 0,
                        HargaRata2: parseFloat(isetup.cleave_HargaRata2.getRawValue()) || 0,
                        HargaBeli: parseFloat(isetup.cleave_HargaBeli.getRawValue()) || 0,
                        TglED: t['TglED'].value,

                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id: $(value).find('.Id').val(),
                                Min: $(value).find('.Min').val(),
                                Max: $(value).find('.Max').val(),
                                Aktif: $(value).find('.Aktif')[0].checked,
                                Hide: $(value).find('.Hide')[0].checked,
                            }
                        })

                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t) {
                $('[href="#general"]').click();
                $('#centangsemua').addClass('hidden');
                isetup.init();
                isetup.form['Aktif'].checked = true;
                isetup.form['Supplier'].value = '';
                isetup.form['Konversi'].value = 1;
                isetup.form['CNOnFaktur'].value = 0;
                isetup.form['CNOffFaktur'].value = 0;
                $(isetup.form['Supplier']).trigger('change');
                var t = isetup.form;
                if (t['_PROCESS'].value === 'CREATE') {
                    var kelompok = @Request.Cookies["Inventory_Section_LokasiId"].Value;
                    if (kelompok == 353) {
                        $(isetup.form['Kelompok']).val('UMUM').trigger('change');
                    }
                    $(isetup.form).find('.input-detail tbody').html('');
                    isetup.adddetailbody(
                        kelompok,
                        0,
                        0,
                        '',
                        true
                    );
                }
            }
        });

        isetup.pilihhet = function () {
            $checkbox = $("#checkhet").is(":checked");
            if ($checkbox === true) {
                $('#het').prop('disabled', false);
                //$('#formtable [data-itable-filter="SubKategori"]')[0].value = f['subkategori'].value;
            } else {
                $('#het').prop('disabled', true);
                $('#het').val('');
            }

        }

        isetup.kelompokonchange = () => {
            var t = isetup.form;
            if (t['_PROCESS'].value === 'CREATE') {
                if (isetup.loading) return;
                isetup.form['Jenis'].value = '';
                $(isetup.form['Jenis']).trigger('change');
                isetup.form['Kategori'].value = '';
                $(isetup.form['Kategori']).trigger('change');
            }
        };

        isetup.kategorionchange = () => {
            var t = isetup.form;
            if (t['_PROCESS'].value === 'CREATE') {
                isetup.form['SubKategori'].value = '';
                isetup.form['Kelas'].value = '';
                $(isetup.form['SubKategori']).trigger('change');
                $(isetup.form['Kelas']).trigger('change');
            }
            if (t['_PROCESS'].value === 'EDIT') {
                $(t['SubKategori']).removeAttr('disabled', 'disabled');
                $(t['Kelas']).removeAttr('disabled', 'disabled');
            }

        };

        isetup.subkategorionchange = () => {
            var t = isetup.form;
            if (t['_PROCESS'].value === 'CREATE') {
                isetup.form['Kelas'].value = '';
                $(isetup.form['Kelas']).trigger('change');
            }
            if (t['_PROCESS'].value === 'EDIT') {
                $(t['Kelas']).removeAttr('disabled', 'disabled');
            }

        };

        $(isetup.form['Kelompok']).select2({ allowClear: true, placeholder: "" });
        $(isetup.form['Golongan']).select2({ allowClear: true, placeholder: "" });
        $(isetup.form['KelompokGrading']).select2({ allowClear: true, placeholder: "" });
        $(isetup.form['SatuanPembelian']).select2({ allowClear: true, placeholder: "" });
        $(isetup.form['SatuanStok']).select2({ allowClear: true, placeholder: "" });
        $(isetup.form['Supplier']).select2();

        $(isetup.form['Jenis']).select2({
            ajax: {
                url: "@Url.Action("SetupBarangJenis", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {
                    return {
                        pagesize: 30,
                        pageindex: params.page || 0,
                        filter: params.term,
                        kelompok : isetup.form['Kelompok'].value
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, indel) {
                                return {
                                    id: value.Id,
                                    text: value.Nama
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['Kategori']).select2({
            ajax: {
                url: "@Url.Action("SetupSubKategoriBarangKategori", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {
                    return {
                        pagesize: 30,
                        pageindex: params.page || 0,
                        filter: params.term,
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, indel) {
                                return {
                                    id: value.Id,
                                    text: value.Nama
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['SubKategori']).select2({
            ajax: {
                url: "@Url.Action("SetupKelasBarangSubKategori", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {
                    return {
                        pagesize: 30,
                        pageindex: params.page || 0,
                        filter: params.term,
                        kategori : isetup.form['Kategori'].value
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, indel) {
                                return {
                                    id: value.Id,
                                    text: value.Nama
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['Kelas']).select2({
            ajax: {
                url: "@Url.Action("SetupBarangKelas", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {
                    return {
                        pagesize: 30,
                        pageindex: params.page || 0,
                        filter: params.term,
                        subkategori: isetup.form['SubKategori'].value
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, indel) {
                                return {
                                    id: value.Id,
                                    text: value.Nama
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        isetup.cleave_HargaBeli = new Cleave(isetup.form['HargaBeli'], { numeral: true, numeralThousandsGroupStyle: 'thousand' });
        isetup.cleave_HargaPokok = new Cleave(isetup.form['HargaPokok'], { numeral: true, numeralThousandsGroupStyle: 'thousand' });
        isetup.cleave_HargaRata2 = new Cleave(isetup.form['HargaRata2'], { numeral: true, numeralThousandsGroupStyle: 'thousand' });
        isetup.cleave_HET = new Cleave(isetup.form['HET'], { numeral: true, numeralThousandsGroupStyle: 'thousand' });

        isetup.adddetailbody = (id, min, max, qty, aktif, hide, hidedelete) => {
            var _detail = '';
            _detail += '<tr>';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td><select class="form-control Id">@(Html.Raw(HList.SetupBarangLokasi))</select></td>';
            _detail += '<td><input type="number" class="form-control text-right Min" step="any" min="0" value="' + min + '" /></td>';
            _detail += '<td><input type="number" class="form-control text-right Max" step="any" min="0" value="' + max + '" /></td>';
            _detail += '<td class="td-text text-center">' + (qty || 0) + '</td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Aktif" ' + (aktif ? 'checked' : '') + ' /></td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Hide" ' + (hide ? 'checked' : '') + ' /></td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
            const _inputid = $(isetup.form).find('tbody tr:last-child .Id');
            $(_inputid).val(id);
            $(_inputid).select2();
        };
    });
</script>

<script>
    $('#submit').click(function () {
        $(':required:invalid', '#detail').each(function () {
            var id = $('.tab-pane').find(':required:invalid').closest('.tab-pane').attr('id');

            $('.nav a[href="#detail' + id + '"]').tab('show');
        });
    });

    //check all
    $('#AktifSemua').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(isetup.form).find('.input-detail tbody tr .Aktif').each(function () {
                this.checked = true;
            });
        } else {
            $(isetup.form).find('.input-detail tbody tr .Aktif').each(function () {
                this.checked = false;
            });
        }
    });

    $('#HideSemua').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(isetup.form).find('.input-detail tbody tr .Hide').each(function () {
                this.checked = true;
            });
        } else {
            $(isetup.form).find('.input-detail tbody tr .Hide').each(function () {
                this.checked = false;
            });
        }
    });
</script>