﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }

    #nomerdetail {
        width : 30px;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Permintaan Pembelian</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Id" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Permintaan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoPermintaan" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="date" required name="Tanggal" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Supplier</label>
                                    <div class="col-md-9">
                                        <select name="SupplierID" required>@Html.Raw(HList.Supplier)</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Gudang</label>
                                    <div class="col-md-9">
                                        <select name="Gudang" required class="all-disabled">@Html.Raw(HList.AmprahanKepada)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tgl Dibutuhkan</label>
                                    <div class="col-md-9">
                                        <input type="date" required name="TanggalDibutuhkan" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">KelompokPR</label>
                                    <div class="col-md-9">
                                        @{var lokasi = int.Parse(Request.Cookies["Inventory_Section_LokasiId"].Value); }
                                        <select name="KelompokPR" required>@Html.Raw(HList.AmprahanKelompokPR(lokasi))</select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td>No</td>
                                                <td>Kode</td>
                                                <td>Nama Barang</td>
                                                <td class="text-center">Konversi</td>
                                                <td>Kategori</td>
                                                <td>Satuan</td>
                                                <td>Rata Penerima</td>
                                                @*<td class="text-center">Min Stok</td>
                                                <td class="text-center">Max Stok</td>*@
                                                <td class="text-center">Qty System</td>
                                                <td style="min-width:80px;" class="text-center">Qty</td>
                                                <td style="min-width:100px;" class="text-right">Harga</td>
                                                <td class="text-right">Jumlah</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Keterangan" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Total" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['Id'].value = r.Data.Id;
                    t['NoPermintaan'].value = r.Data.NoPermintaan;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['Gudang'].value = $(t['Gudang']).find('option[data-lokasi="' + r.Data.Gudang + '"]').val();
                    t['KelompokPR'].value = r.Data.KelompokPR;
                    t['TanggalDibutuhkan'].value = r.Data.TanggalDibutuhkan;
                    t['Keterangan'].value = r.Data.Keterangan;
                    t['Total'].value = r.Data.Total;
                    t['SupplierID'].value = r.Data.SupplierID;

                    if (r.Data.SupplierID) {
                        const option = new Option(`${r.Data.NamaSupplier}`, r.Data.SupplierID, true, true);
                        $(t['SupplierID']).append(option);
                    }

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Deskripsi,
                            value.Konversi,
                            value.Kategori,
                            value.Satuan,
                            value.RataPenerima,
                            value.MinQty,
                            value.MaxQty,
                            value.QtyStok,
                            value.Qty,
                            value.Harga,
                            true
                        );
                    });
                    $('.nomor').blur();
                    isetup.init();

                    if (t['_PROCESS'].value === 'EDIT') {
                        $(t['Tanggal']).attr('readonly', 'readonly');
                        $(t['Keterangan']).attr('readonly', 'readonly');
                    }
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        Id: parseInt(t['Id'].value),
                        NoBukti: t['NoPermintaan'].value,
                        Tanggal: t['Tanggal'].value,
                        Gudang: $(t['Gudang']).find('option:selected').data('lokasi'),
                        KelompokPR: t['KelompokPR'].value,
                        Keterangan: t['Keterangan'].value,
                        TanggalDibutuhkan: t['TanggalDibutuhkan'].value,
                        Total: getfloatfromcurrency(t['Total'].value),
                        SupplierID: t['SupplierID'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id: $(value).data('id'),
                                Harga: parseFloat(isetup.cleave_detail_harga.find(x => x.id === $(value).data('id')).clave.getRawValue()),
                                Qty: parseFloat($(value).find('.Qty').val()),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t) {
                var t = isetup.form;
                var gudang = @Request.Cookies["Inventory_Section_LokasiId"].Value;
                if (gudang == '353') {
                    $(isetup.form['SupplierID']).val('464').trigger('change');
                } else {
                    $(isetup.form['SupplierID']).val('').trigger('change');
                }
                isetup.form['Tanggal'].value = formatdate(new Date());
                isetup.form['Gudang'].value = '@Request.Cookies["Inventory_Section_Id"].Value';

                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');

            }
        });

        $(isetup.form['SupplierID']).select2({
            ajax: {
                url: "@Url.Action("Supplier_Permintaan", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        //$(isetup.form['SupplierID']).select2();
        $(isetup.form['Gudang']).select2();
        $(isetup.form['KelompokPR']).select2();


        isetup.customeremovedetail = (t, id) => {
            removedetail(t);
            isetup.cleave_detail_harga = isetup.cleave_detail_harga.filter(x => x.id !== id);
            isetup.hitungtotal();
            autoid_detail(t);
            $('.nomor').blur();
        };

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qty = parseFloat(tr.find('.Qty').val());
            const harga = parseFloat(isetup.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());
            const jumlah = harga * qty;
            tr.find('.Jumlah').html(getcurrencyfromfloat(jumlah) || 0);
            isetup.hitungtotal();
        }

        isetup.hitungtotal = () => {
            let total = 0;
            $.map($(isetup.form).find('.input-detail tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.Jumlah').html());
                total += nilai;
            });
            //isetup.form['Total'].value = getcurrencyfromfloat(Math.round(total));
            isetup.form['Total'].value = getcurrencyfromfloat(total);
        }

        isetup.adddetailbody = (id, kode, nama, konversi, kategori, satuan, ratapemberian, minstok, maxstok, qtysystem, qty, harga, lockharga) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }
            var _detail = '';
            
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            _detail += '<td class="td-text" style="max-width:70px"><input id="nomerdetail" class="nomor" readonly onblur="autoid_detail(this)"></td>';
            // input
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text text-center">' + konversi + '</td>';
            _detail += '<td class="td-text">' + kategori + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td class="td-text">' + ratapemberian + '</td>';
            _detail += '<td class="td-text text-center hide">' + (minstok || 0) + '</td>';
            _detail += '<td class="td-text text-center hide">' + (maxstok || 0) + '</td>';
            _detail += '<td class="td-text text-center">' + (qtysystem || 0) + '</td>';
            _detail += '<td><input type="text" onchange="isetup.hitungjumlah(this)" class="form-control text-right Qty" step="any" min="0" value="' + qty + '" /></td>';
            _detail += '<td><input type="text" onchange="isetup.hitungjumlah(this)" readonly class="form-control text-right Harga ' + (lockharga ? 'all-readonly' : '') + '" step="any" min="0" value="' + harga + '" /></td>';
            _detail += '<td class="td-text text-right Jumlah">' + (getcurrencyfromfloat(qty * harga) || 0) + '</td>';
            _detail += '</tr>';

            $(isetup.form).find('tbody').append(_detail);
            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga').last();
            isetup.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    //numeralThousandsGroupStyle: 'thousand'
                    numeralDecimalScale: 4
                })
            });
            isetup.hitungtotal();
        };
        isetup.cleave_detail_harga = [];

    });

    $('#modalsetup').keydown(function (e) {
        if (event.keyCode === 13) {
            event.preventDefault();
            return false;
        }
    });
    
</script>


<script>
    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) {
            _this.value = 1
        }
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(2) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
        /*$(_this).removeAttr('onblur');*/
    }
</script>