﻿<style>
    #modallookupbarang .table td,
    #modallookupbarang .table th {
        white-space: nowrap;
    }
</style>
@using Inventory.Helper

<div id="modallookupbarang" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Barang</h4>
            </div>
            <form id="lookupbarang">
                <div class="form-group">
                    <div class="col-md-2">
                        <label>Filter</label>
                        <input type="text" name="all" data-itable-filter="All" class="form-control" value="" />
                    </div>
                    <div class="hide">
                        <label>Kategori</label>
                        <select name="kategori" onchange="itablelookupbarang.pageindex = 0; itablelookupbarang.refresh();" data-itable-filter="Subkategori" class="form-control">@Html.Raw(HList.SetupSubKategoriFilter)</select>
                    </div>
                    <div class="col-md-1">
                        <label>Page</label>
                        <select class="form-control itable-pagesize" onchange="itablelookupbarang.pageindex = 0; itablelookupbarang.refresh();" style="width: auto;" name="show">
                            <option selected>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option selected>100</option>
                        </select>
                    </div>
                    <div class="col-md-2 hide">
                        <button type="submit" style="margin-top : 27px" class="btn-save btn btn-primary"><i class="icon icon-search4"></i>Cari</button>
                    </div>
                </div>
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header">
                        <input type="hidden" data-itable-filter="Lokasi">
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="Kode_Barang">Kode<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Barang">Nama<i></i></th>
                                    <th class="sorting" data-itable-sorting="Qty_Stok">Stok<i></i></th>
                                    <th class="sorting" data-itable-sorting="KategoriNama">Kategori<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <a style="float:left" class="teal text-bold btn btn-proses-printresep" onclick="isetupprintresep(this,event)"><i class="icon-shredder position-left"></i>Print</a>
                <button type="button" class="btn-save btn btn-danger" onclick="itablelookupbarang.selectedall(this)"><i class="icon-stack-check"></i> SELECT ALL</button>
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupbarang.selected(this)"><i class="icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupbarang;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupbarang = new iTable({
            url: '@Url.Action("ListLookupBarang")',
            table: document.getElementById('lookupbarang'),
            orderby: 'Nama_Barang',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="6" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupbarang.active(this)">';

                        // column
                        tbody += '<td>' + value.Kode + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += '<td class="text-center">' + value.QtySystem + '</td>';
                        tbody += '<td>' + value.KategoriNama + '</td>';

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    isetup.form['Jenis'].value = r.Data[0]?.Jenis;
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else alert(r.Message);
            }
        });



        $('#modallookupbarang').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });
        $('#modallookupbarang').on('shown.bs.modal', function (e) {
            $('#modallookupbarang [data-itable-filter="Subkategori"]').focus();
        });

        itablelookupbarang.active = (t) => {
            $(t).toggleClass('bg-primary');
        }


        itablelookupbarang.openmodal = () => {
            $('#modallookupbarang [data-itable-filter="Lokasi"]').val('@Request.Cookies["Inventory_Section_LokasiId"].Value');
            $('#modallookupbarang [data-itable-filter="Subkategori"]').val(isetup.form['SubKategori'].value);
            if ($('#modallookupbarang [data-itable-filter="Subkategori"]').val() == null) {
                alerterror('Sub Kategori harus diisi');
                return;
            } else {
                itablelookupbarang.pageindex = 0;
                itablelookupbarang.refresh();
                $('#modallookupbarang').modal();
            }

            $('.modal-backdrop:last').css('z-index', $('#modallookupbarang').css('z-index') - 1);
            $(isetup.form['SubKategori']).removeAttr('disabled', 'disabled');
        }

        itablelookupbarang.selected = function (t) {
            $.each($(t).closest('.modal').find('table tbody tr.bg-primary'), function (index, value) {
                var model = JSON.parse($(value).data('model'));

                //id, kode, nama, satuan, konversi, qtysystem, qtyfisik, harga, kategori, keterangan)
                isetup.adddetailbody(
                    model.Id,
                    model.Kode,
                    model.Nama,
                    model.Satuan,
                    model.Konversi,
                    model.QtySystem,
                    model.QtySystem,
                    model.Harga,
                    model.KategoriNama,
                    ''
                );
            });
            $(t).closest('.modal').modal('hide');
        }

        itablelookupbarang.selectedall = function (t) {
            $(t).hide();
            $.each($(t).closest('.modal').find('table tbody tr'), function (index, value) {
                var model = JSON.parse($(value).data('model'));

                isetup.adddetailbody(
                    model.Id,
                    model.Kode,
                    model.Nama,
                    model.Satuan,
                    model.Konversi,
                    model.QtySystem,
                    model.QtySystem,
                    model.Harga,
                    model.Kategori,
                    ''
                );
            });
            $(t).closest('.modal').modal('hide');
        }

        itable.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['all'].value = $('#formtable [data-itable-filter="All"]')[0].value;
            f['kategori'].value = isetup.form['SubKategori'].value;
            //f['show'].value = $('#formtable .itable-pagesize')[0].value;
            $('#modalfilter').modal();
        }

        itable.filtersubmit = function (t, e, status) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#formtable [data-itable-filter="All"]')[0].value = f['all'].value;
            $('#formtable [data-itable-filter="Kategori"]')[0].value = f['kategori'].value;
            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
        }
    });
        const isetupprintresep = (t, e) => {
            e.preventDefault();
            var section = '@Request.Cookies["Inventory_Section_Name"].Value';
            var subkategori = $("#GetSub option:selected").text();
            var filter = ' ';
            window.open('@Url.Action("ExportPDF", "Report")?category=Transaksi&filename=SIM_Rpt_ListBelumStockOpname.rpt&param=[{\'Name\':\'@@SectionName\',\'ParameterType\':4,\'Value\':\'' + section + '\'},{\'Name\':\'@@Filter\',\'ParameterType\':4,\'Value\':\'' + filter + '\'},{\'Name\':\'@@KelompokJenis\',\'ParameterType\':4,\'Value\':\'' + subkategori + '\'}]');
            $('#modalreport').modal('hide');
        }
</script>