﻿@using System.Web.Configuration;
@using Inventory.Helper;
@{
    var configopname = ViewBag.Setup;
}



<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }

    #modalsetup .input-detail tbody tr td:nth-child(3) {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .bg-select {
        background-color: #c4d1fd !important;
        color: #000;
        font-weight: bold;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stok Opname</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="No" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">No Bukti</label>
                                    <div class="col-md-10">
                                        <input type="text" name="NoBukti" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Tanggal</label>
                                    <div class="col-md-10">
                                        <input type="date" required name="Tanggal" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Lokasi</label>
                                    <div class="col-md-10">
                                        <select name="Lokasi" required class="all-disabled">@Html.Raw(HList.OpnameSection)</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="col-md-2 control-label">Jenis</label>
                                    <div class="col-md-10">
                                        <input type="text" required name="Jenis" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Sub Kategori</label>
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <select id="GetSub" name="SubKategori"></select>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn-save btn btn-primary" onclick="isetup.getdataso(this)"><i class="icon-cube4"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-2">
                                        <div class="input-group">
                                            <label class="input-group-addon">
                                                <input id="CheckInisial" name="CheckInisial" type="checkbox" onclick="isetup.checkinisial()" />
                                                Inisiasi
                                            </label>
                                            <input type="text" id="Inisial" name="Inisial" class="form-control" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail table-striped table-lookup">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td>Konversi</td>
                                                <td class="text-center">Qty System</td>
                                                <td class="text-center" style="width: 80px;">Qty Fisik</td>
                                                <td class="text-center">Selisih</td>
                                                <td class="text-right">Harga</td>
                                                <td>Kategori</td>
                                                <td>Keterangan</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                    <button type="button" onclick="isetup.prosesso()" class="btn btn-warning btn-proses-so"><i class="icon-circles2"></i> PROSES SO</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['NoBukti'].value = r.Data.No;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['SubKategori'].value = r.Data.SubKategoriNama;
                    t['Lokasi'].value = $(t['Lokasi']).find('option[data-lokasi="' + r.Data.Lokasi + '"]').val();
                    t['Jenis'].value = r.Data.Jenis;
                    t['Inisial'].value = r.Data.Inisial;

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Nama,
                            value.Satuan,
                            value.Konversi,
                            value.QtySystem,
                            value.QtyFisik,
                            value.Harga,
                            value.Kategori,
                            value.Keterangan
                        );
                        const optionSubKategori = new Option(r.Data.SubKategoriNama, r.Data.SubKategori, true, true);
                        $(t['SubKategori']).append(optionSubKategori);
                    });
                    $(isetup.form['SubKategori']).removeAttr('disabled', 'disabled');

                    isetup.init();
                    if (isetup.form['_PROCESS'].value === 'EDIT') {
                        $(t['Tanggal']).attr('readonly', 'readonly');
                        $(t['SubKategori']).attr('disabled', 'disabled');
                        $(t).find('.view-hide').addClass('hide');
                        $(t).find('.btn-proses-so').addClass('hide');
                    } else if (t['_PROCESS'].value === 'VIEW') {
                        if (r.Data.Posted)
                            $(t).find('.btn-proses-so').addClass('hide');
                        else
                            $(t).find('.btn-proses-so').removeClass('hide');
                    }

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        NoBukti: t['NoBukti'].value,
                        Tanggal: t['Tanggal'].value,
                        SubKategori: t['SubKategori'].value,
                        Lokasi: $(t['Lokasi']).find('option:selected').data('lokasi'),
                        Jenis: t['Jenis'].value,
                        Inisial: t['Inisial'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id : $(value).data('id'),
                                Qty : $(value).find('.Qty').val(),
                                Keterangan: $(value).find('.Keterangan').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                var t = isetup.form;
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    isetup.init();
                    //$(t).find('.btn-proses-so').removeClass('hide');
                    //$(t).find('.btn-save').addClass('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;

                if (t['_PROCESS'].value === 'DELETE') {
                    $(t).find('[type="submit"].btn-danger').focus();
                }
            },
            onopenmodalcreate: function (t, param) {
                //isetup.form['Tanggal'].value = formatdate(new Date());
                isetup.form['SubKategori'].value = '';

                isetup.form['Lokasi'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                isetup.init();
                $(isetup.form).find('.btn-proses-so').addClass('hide');
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        $(isetup.form['Lokasi']).select2();

        $(isetup.form['SubKategori']).select2({
            ajax: {
                url: "@Url.Action("SetupSubKategoriStokOpname", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {
                    return {
                        pagesize: 30,
                        pageindex: params.page || 0,
                        filter: params.term,
                    };
                },
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, indel) {
                                return {
                                    id: value.Id,
                                    text: value.Nama
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        isetup.customeremovedetail = (t, id) => {
            removedetail(t);
        };

        isetup.cleardetail = () => {
            if (isetup.form['_PROCESS'].value === 'CREATE')
                $(isetup.form).find('.input-detail tbody').html('');
        };

        isetup.checkinisial = (t) => {
            if ($('#CheckInisial').is(':checked')) {
                $('#Inisial').prop('disabled', false);
            } else {
                $('#Inisial').val('');
                $('#Inisial').prop('disabled', true);
            }
        };

        isetup.getdataso = function (t) {

            $.ajax({
                url: '@Url.Action("DetailBarangSO")',
                type: 'POST',
                data: {
                    id: isetup.form['NoBukti'].value,
                    subKategoriid: isetup.form['SubKategori'].value,
                    inisial: isetup.form['Inisial'].value
                      },
                success: function (r) {
                    r = JSON.parse(r);
                    if (r.IsSuccess) {
                        isetup.form['Jenis'].value = r.Data.Jenis;
                        // detail
                        $(isetup.form).find('.input-detail tbody').html('');
                        $.each(r.Detail, function (index, value) {
                            isetup.adddetailbody(
                                value.Id,
                                value.Kode,
                                value.Nama,
                                value.Satuan,
                                value.Konversi,
                                value.QtySystem,
                                value.QtySystem,
                                value.Harga,
                                value.Kategori,
                                ''
                            );
                        });
                        $(isetup.form['SubKategori']).attr('disabled', 'disabled');
                    } else {

                        $(isetup.form['SubKategori']).removeAttr('disabled', 'disabled');
                        alerterror(r.Message);
                    }
                },
                error: function (xhr) { alerterror(xhr); },
                beforeSend: function () { loading(true); },
                complete: function () { loading(false); }
            });

        }

        isetup.detailactive = function (t) {
            if ($(t).hasClass('bg-select')) {
            } else {
                $(t).closest('tbody').find('.bg-select').removeClass('bg-select');
                $(t).addClass('bg-select');
            }
        }

        isetup.prosesso = () => {
            $.ajax({
                url: '@Url.Action("ProsesSO")',
                type: 'POST',
                data: { id: isetup.form['NoBukti'].value },
                success: function (r) {
                    r = JSON.parse(r);
                    if (r.IsSuccess) {
                        itable.refresh();
                        isetup.modal.modal('hide');
                    } else {
                        alerterror(r.Message);
                    }
                },
                error: function (xhr) { alerterror(xhr); },
                beforeSend: function () { loading(true); },
                complete: function () { loading(false); }
            });
        };

        isetup.adddetailbody = (id, kode, nama, satuan, konversi, qtysystem, qtyfisik, harga, kategori, keterangan) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            const selisih = qtyfisik - qtysystem;
            var t = isetup.form;
            var _detail = '';
            _detail += '<tr class="odd" onclick="isetup.detailactive(this)" data-id="' + id + '" data-qtysystem="' + (qtysystem || 0) + '" title="' + nama + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td class="td-text text-center">' + konversi + '</td>';
            _detail += '<td class="td-text text-center">' + (qtysystem || 0) + '</td>';

            if (t['_PROCESS'].value === 'VIEW' || t['_PROCESS'].value === 'EDIT') {
                _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Qty" step="any" min="0" value="' + qtyfisik +'" /></td>';
            } else {
                @if (configopname == "1")
                {
                    @:_detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Qty" step="any" min="0" value="0" /></td>';
                }else if (configopname == "2")
                {
                    @:_detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right Qty" step="any" min="0" value="' + (qtyfisik < 0 ? 0 : qtyfisik) + '" /></td>';
                }
            }
            _detail += '<td class="td-text text-center Selisih">' + selisih + '</td>';
            _detail += '<td class="td-text text-right">' + (getcurrencyfromfloat(harga) || 0) + '</td>';
            _detail += '<td class="td-text">' + (kategori || '-') + '</td>';
            _detail += '<td><input type="text" class="form-control Keterangan" value="' + (keterangan || '') + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);

            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga').last();
        };

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qtysystem = parseFloat($(tr).data('qtysystem'));
            const qtyfisik = parseFloat(tr.find('.Qty').val());
            const selisih = qtyfisik - qtysystem;
            tr.find('.Selisih').html(selisih || 0);
        };

        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
</script>