﻿@using Inventory.Helper
@{
    var configppnnilai = ViewBag.PPNNilai;
}
<style>
    #modalsetupselesaikan .input-detail td {
        white-space: nowrap;
    }
</style>

<div id="modalsetupselesaikan" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title text-bold"> Apakah ingin Menyelesaikan Penerimaan ?</h6>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <label class="col-md-4 h4">No Order : </label>
                            <label id="noorderslesai" class="col-md-8 h4"></label>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="Id" />
                        <input type="hidden" name="SupplierId" />
                        <input type="hidden" name="OrderId" />

                        <div class="form-group ">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:100px;">No</td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Selesaikan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetupselesaikan;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetupselesaikan = new iSetup({
            modal: 'modalsetupselesaikan',
            urldetail: '@Url.Action("DetailOrderSelesai")',
            urlsave: '@Url.Action("SaveSelesai")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                   
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetupselesaikan.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        OrderId: t['OrderId'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id: $(value).data('id'),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetupselesaikan.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                $('.nomorpenerimaan').blur();
                var t = isetupselesaikan.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {

                isetupselesaikan.cleave_detail_harga = [];
                $.ajax({
                    url: '@Url.Action("DetailOrder")',
                    type: 'POST',
                    data: param,
                    success: function (r) {
                        r = JSON.parse(r);
                        if (r.IsSuccess) {
                            isetupselesaikan.init();
                            var t = isetupselesaikan.form;
                            isetupselesaikan.form['OrderId'].value = r.Data.OrderId;
                            $('#noorderslesai').text(r.Data.NoPo);
                            $(isetupselesaikan.form).find('.input-detail tbody').html('');
                            $(t).find('.input-detail tbody').html('');
                            $.each(r.Detail, function (index, value) {
                                isetupselesaikan.adddetailbody(
                                    value.Id,
                                    value.Kode,
                                    value.Nama,
                                    value.Satuan,
                                    value.QtyOrder,
                                    value.QtyBeli,
                                    value.QtyTerima,
                                    value.Harga,
                                    0,
                                    '',
                                    ''
                                );
                            });
                            $('.nomorpenerimaan').blur();
                            isetupselesaikan.init();
                        } else {
                            alerterror(r.Message);
                            isetupselesaikan.modal.modal('hide');
                        }
                    },
                    error: function (xhr) { alerterror(xhr); isetupselesaikan.modal.modal('hide'); },
                    beforeSend: function () { loading(true); },
                    complete: function () { loading(false); }
                });
            }
        });

        isetupselesaikan.cleave_detail_harga = [];

        isetupselesaikan.adddetailbody = (id, kode, nama, satuan, qtypo, tlhterima, qtyterima, harga, disc, tglexp, nobatch, lockharga) => {
            if ($(isetupselesaikan.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }


            const jum = harga * (qtyterima || 0);
            const diskon = jum / 100 * disc;
            const jumlah = jum - diskon;

            var _detail = '';
            _detail += '<tr data-id="' + id + '">';

            // input
            _detail += '<td class="td-text"><input class="nomorpenerimaan" readonly onblur="autoid_detail(this)" style="width:30px"></td>';
            _detail += '<td class="td-text">' + kode + '</td>';
            _detail += '<td class="td-text">' + nama + '</td>';
          




            _detail += '</tr>';
            $(isetupselesaikan.form).find('tbody').append(_detail);

        };
    });

    $(document).keydown(function (e) {
        if (event.keyCode === 13) {
            event.preventDefault();
            return false;
        }
    });

    function checkednodo() {
        if ($("input[name=NoDOCheked]").is(':checked'))
        {
            $('#nodo').val('Auto').prop('readonly', true);
            $('#nodo').val('Auto');

        }
        else
        {
            $('#nodo').val('').prop('readonly', false);
            $('#nodo').val('');
        }
    }
</script>

<script>
    function autoid_detail(_this) {
        var x = $(_this).closest('tr').prev();
        if (x.length == 0) {
            _this.value = 1
        }
        else {
            var result;
            while (result == undefined) {
                var z = $(x).find('td:nth-child(1) input')[0];
                if (z == undefined) {
                    x = x.prev();
                    if (x.length == 0) result = 0;
                } else {
                    result = parseInt(z.value);
                }
            }
            _this.value = result + 1;
        }
    }
</script>