﻿@{
    ViewBag.Title = "Penerimaan Barang";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper
@using Microsoft.AspNet.Identity

<style>
    .itable-status.bg-grey-300 a:hover {
        background-color: #999;
    }

    .itable-status.bg-primary-300 a:hover {
        background-color: #64b5f6;
    }

    
    .itable-hide-po thead th:nth-child(5),
    .itable-hide-po tbody td:nth-child(5) {
        display: none;
    }

    .itable-hide-harga thead th:nth-child(3),
    .itable-hide-harga tbody td:nth-child(3) {
        display: none;
    }

</style>

<form id="formtable" class="itable-hide-po itable-hide-harga">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <div class="panel-title"></div>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-filter" href="javascript:itable.openfilter()"></a></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label>Filter</label>
                <input type="text" name="all" data-itable-filter="All" class="form-control" />
            </div>
            <div class="col-md-2">
                <label>Dari Tanggal</label>
                <input type="date" name="periode" onchange="itable.pageindex = 0; itable.refresh();" data-itable-filter="PeriodeStart" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))" />
            </div>
            <div class="col-md-2">
                <label>Sampai Tanggal</label>
                <input type="date" name="sampai" onchange="itable.pageindex = 0; itable.refresh();" data-itable-filter="PeriodeEnd" class="form-control" value="@(DateTime.Today.ToString("yyyy-MM-dd"))" />
            </div>
            @*<label class="control-label col-md-2">Show</label>*@
            <div class="col-md-1">
                <label>Page</label>
                <select class="form-control itable-pagesize" onchange="itable.pageindex = 0; itable.refresh();" style="width: auto;" name="show">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="col-md-2 hide">
                <button type="submit" style="margin-top : 27px" class="btn-save btn btn-primary"><i class="icon icon-search4"></i>Cari</button>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
                @*<input type="hidden" data-itable-filter="All" />*@
                <input type="hidden" data-itable-filter="Open" value="Open" />
                @*<select class="form-control itable-pagesize hide" style="width: auto;">
                        <option selected>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                    </select>*@
            </div>
            <ul class="nav nav-pills nav-pills-toolbar nav-justified" style="margin-bottom:0;">
                <li class="itable-status bg-grey-300"><a onclick="itable.changestatus('Open', this)">Open</a></li>
                <li class="itable-status"><a onclick="itable.changestatus('Realisasi', this)">Realisasi</a></li>
            </ul>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th class="sorting" data-itable-sorting="Tanggal" style="width: 100px;">Tanggal<i></i></th>
                            <th class="sorting" data-itable-sorting="No_Penerimaan" style="width: 180px;">No Order<i></i></th>
                            <th class="sorting" data-itable-sorting="No_DO">No DO<i></i></th>
                            <th class="sorting" data-itable-sorting="Nama_Supplier">Supplier<i></i></th>
                            <th class="sorting" data-itable-sorting="Total_Harga">Total Harga<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<div id="modalfilter" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form autocomplete="off" onsubmit="itable.filtersubmit(this,event)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filter</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">Filter</label>
                            <div class="col-md-8">
                                <input type="text" name="all" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Periode</label>
                            <div class="col-md-8">
                                <input type="date" name="periode" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Sampai</label>
                            <div class="col-md-8">
                                <input type="date" name="sampai" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Show</label>
                            <div class="col-md-8">
                                <select class="form-control" style="width: auto;" name="show">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="icon icon-check"></i> OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'No_Penerimaan',
            orderbytype: false,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="5" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="alpha-' + status + '">';

                        // column
                        tbody += '<td class="text-center">' + value.Tanggal + '</td>';
                        tbody += '<td>' + value.No + '</td>';
                        tbody += '<td>' + (value.NoDO || '-') + '</td>';
                        tbody += '<td>' + value.Supplier + '</td>';
                        tbody += '<td class="text-right">' + (value.TotalNilai == 0 ? 0 : getcurrencyfromfloat(value.TotalNilai)) + '</td>';

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        if (value.Realisasi) {
                            tbody += '<li><a href="javascript:isetup.opensetup(\'EDIT\', { id : \'' + value.No + '\'})"><i class="icon-pencil"></i> Edit</a></li>';
                            tbody += '<li><a href="javascript:isetup.opensetup(\'VIEW\', { id : \'' + value.No + '\'})"><i class="icon-eye"></i> View</a></li>';
                            tbody += '<li><a href="javascript:isetup.opensetup(\'DELETE\', { id : \'' + value.No + '\'})"><i class="icon-trash"></i> Delete</a></li>';
                            tbody += '<li><a target="_blank" href="@Url.Action("ExportPDF", "Report", new { category = "Transaksi", filename= "SIM_Rpt_PenerimaanBarang.rpt" })&param=[{\'Name\':\'@@NoPenerimaan\',\'ParameterType\':4,\'Value\':\'' + value.No + '\'}]"><i class="icon-printer"></i> Report</a></li>';
                        } else {
                            tbody += '<li><a href="javascript:isetupselesaikan.opensetup(\'CREATE\', { id : \'' + value.OrderId + '\'})"><i class="icon-pencil"></i> Selesaikan</a></li>';
                            tbody += '<li><a href="javascript:isetup.opensetup(\'CREATE\',{ id : \'' + value.OrderId + '\'})"><i class="icon-download"></i> Terima</a></li>';
                        }

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itable.refresh();

        itable.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['periode'].value = $('#formtable [data-itable-filter="PeriodeStart"]')[0].value;
            f['sampai'].value = $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value;
            f['all'].value = $('#formtable [data-itable-filter="All"]')[0].value;
            f['show'].value = $('#formtable .itable-pagesize')[0].value;
            $('#modalfilter').modal();
        }

        itable.filtersubmit = function (t, e) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#formtable [data-itable-filter="PeriodeStart"]')[0].value = f['periode'].value;
            $('#formtable [data-itable-filter="PeriodeEnd"]')[0].value = f['sampai'].value;
            $('#formtable [data-itable-filter="All"]')[0].value = f['all'].value;
            $('#formtable .itable-pagesize')[0].value = f['show'].value;
            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
        }

        itable.changestatus = (status, t) => {
            $('#formtable .itable-status').removeClass('bg-grey-300');
            $('#formtable .itable-status').removeClass('bg-primary-300');
            if (status === 'Open') {
                $(t).closest('li').addClass('bg-grey-300');
                $(itable.table).addClass('itable-hide-po');
                $(itable.table).addClass('itable-hide-harga');
                $(itable.table).find('[data-itable-sorting="No_Penerimaan"]').html("No Order");
            } else {
                $(t).closest('li').addClass('bg-primary-300');
                $(itable.table).removeClass('itable-hide-po');
                $(itable.table).removeClass('itable-hide-harga');
                $(itable.table).find('[data-itable-sorting="No_Penerimaan"]').html("No Penerimaan");
            }
            $('#formtable [data-itable-filter="Open"]').val(status);
            itable.pageindex = 0;
            itable.refresh();
        };
    });
</script>
@Html.Partial("Setup")
@Html.Partial("CreateSelesai")