﻿@using Inventory.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Peminjaman Retur</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Retur</label>
                                    <div class="col-md-9">
                                        <input type="text" name="No_Retur" class="form-control all-disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Tanggal</label>
                                    <div class="col-md-9">
                                        <input type="date" required name="Tanggal" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <fieldset class="content-group">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No Peminjaman</label>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" name="No_Peminjaman" required class="form-control all-readonly" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-primary view-disabled" onclick="itablelookuppeminjaman.openmodal()"><i class="icon-search4"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Supplier</label>
                                    <div class="col-md-9">
                                        <input type="text" name="SupplierID" class="form-control hidden" />
                                        <input type="text" name="Nama_Supplier" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Lokasi</label>
                                    <div class="col-md-9">
                                        <select name="Lokasi" required class="all-disabled">@Html.Raw(HList.AmprahanKepada)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Keterangan</label>
                                    <div class="col-md-9">
                                        <textarea name="Keterangan" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    @*<a onclick="itablelookupbarang.openmodal(true)"><i class="icon icon-plus2"></i></a>*@
                                                </td>
                                                <td style="width:100px;">Kode</td>
                                                <td>Nama</td>
                                                <td>Satuan</td>
                                                <td class="text-center">Qty Sisa</td>
                                                <td class="text-center">Qty Retur</td>
                                                <td class="text-right">Harga</td>
                                                <td class="text-right">Jumlah</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sub Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="SubTotal" class="form-control text-right all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group hidden">
                                    <label class="col-md-3 control-label">PPN</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <input type="checkbox" name="PPN" onchange="isetup.hitungtotal()" />
                                            </div>
                                            <div class="input-group-addon">
                                                10%
                                            </div>
                                            <input type="text" name="PPNNilai" class="form-control all-readonly text-right" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Total</label>
                                    <div class="col-md-9">
                                        <input type="text" name="GrandTotal" class="form-control all-readonly text-right" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Themes/assets/js/plugins/forms/selects/select2.min.js"></script>
<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['No_Retur'].value = r.Data.No_Retur;
                    t['No_Peminjaman'].value = r.Data.No_Peminjaman;
                    t['Tanggal'].value = r.Data.Tanggal;
                    t['Keterangan'].value = r.Data.Keterangan;
                    t['SupplierID'].value = r.Data.SupplierID;
                    t['Nama_Supplier'].value = r.Data.Nama_Supplier;
                    t['Lokasi'].value = $(t['Lokasi']).find('option[data-lokasi="' + r.Data.Lokasi_ID + '"]').val();


                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id,
                            value.Kode,
                            value.Deskripsi,
                            value.Satuan,
                            value.Qty,
                            value.QtyRetur,
                            value.Harga
                        );
                    });

                    isetup.init();
                    //if (t['_PROCESS'].value === 'EDIT') {
                    //    $(t['Tanggal']).attr('readonly', 'readonly');
                    //    $(t['DariSection']).attr('disabled', 'disabled');
                    //    $(t['Kepada']).attr('disabled', 'disabled');
                    //}
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        NoPeminjaman: t['No_Peminjaman'].value,
                        Supplier: t['SupplierID'].value,
                        Lokasi: $(t['Lokasi']).find('option:selected').data('lokasi'),
                        Lokasi: t['Lokasi'].value,
                        Tanggal: t['Tanggal'].value,
                        Total: getfloatfromcurrency(t['GrandTotal'].value),
                        Keterangan: t['Keterangan'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Barang: $(value).data('id'),
                                NamaBarang: $(value).find('.Nama').val(),
                                KodeBarang: $(value).find('.Kode').val(),
                                KodeSatuan: $(value).find('.Satuan').val(),
                                Qty: $(value).find('.QtyRetur').val(),
                                Harga: isetup.cleave_detail_harga.find(x => x.id === $(value).data('id')).clave.getRawValue(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t) {
                isetup.form['Tanggal'].value = formatdate(new Date());
                isetup.form['Lokasi'].value = '@Request.Cookies["Inventory_Section_Id"].Value';
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });




        $(isetup.form['Lokasi']).select2();
        isetup.cleave_detail_harga = [];

        isetup.customeremovedetail = (t, id) => {
            removedetail(t);
            isetup.cleave_detail_harga = isetup.cleave_detail_harga.filter(x => x.id !== id);
            isetup.hitungtotal();
        };

        isetup.adddetailbody = (id, kode, nama, satuan, qtysisa, qtyretur, harga, lockharga) => {
            if ($(isetup.form).find('.input-detail tbody tr[data-id="' + id + '"]').length) {
                alerterror(nama + ' sudah ada');
                return;
            }

            const jum = harga * (qtyretur || 0);
            const diskon = jum / 100 * 0;
            const jumlah = jum - 0;

            var _detail = '';
            _detail += '<tr  data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="isetup.customeremovedetail(this, ' + id + ');" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';
            //_detail += '<tr data-id="' + id + '">';

            // input
            _detail += '<td class="text-center"><input type="text" class="hidden text-left Kode"  step="any" value="' + kode + '" />' + kode + '</td>';
            _detail += '<td class="text-left"><input type="text" class="hidden text-left Nama"  step="any" value="' + nama + '" />' + nama + '</td>';
            _detail += '<td class="text-center"><input type="text" class="hidden text-left Satuan"  step="any" value="' + satuan + '" />' + satuan + '</td>';
            _detail += '<td class="text-center"><input type="number" class="hidden text-left QtySisa"  step="any" value="' + (qtysisa || 0) + '" />' + (qtysisa || 0) + '</td>';
            _detail += '<td><input type="number" onchange="isetup.hitungjumlah(this)" class="form-control text-right QtyRetur" step="any" min="0" max="' + qtysisa + '" value="' + qtyretur + '" /></td>';
            _detail += '<td class="text-right"><input type="text" onchange="isetup.hitungjumlah(this)" class="hidden text-right Harga ' + (lockharga ? 'all-readonly' : '') + '" step="any" min="0" value="' + harga + '" />' + harga + '</td>';
            _detail += '<td class="td-text text-right Jumlah">' + (getcurrencyfromfloat(jumlah) || 0) + '</td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);

            const _inputharga = $(isetup.form).find('tbody tr:last-child .Harga').last();
            isetup.cleave_detail_harga.push({
                id: id,
                clave: new Cleave(_inputharga, {
                    numeral: true,
                    numeralThousandsGroupStyle: 'thousand'
                })
            });
            isetup.hitungtotal();
        };

        isetup.hitungjumlah = (t) => {
            const tr = $(t).closest('tr');
            const id = parseInt($(tr).data('id'));
            const qty = parseFloat(tr.find('.QtyRetur').val());
            const disc = parseFloat(tr.find('.Disc').val());
            const harga = parseFloat(isetup.cleave_detail_harga.find(x => x.id === id).clave.getRawValue());
            const jum = harga * qty;
            const diskon = jum / 100 * (disc || 0);
            const jumlah = jum - diskon;
            tr.find('.Jumlah').html(getcurrencyfromfloat(jumlah) || 0);
            isetup.hitungtotal();
        }

        isetup.hitungtotal = () => {
            let subtotal = 0;
            $.map($(isetup.form).find('.input-detail tbody tr'), v => {
                const nilai = getfloatfromcurrency($(v).find('.Jumlah').html());
                subtotal += nilai;
            });
            subtotal = parseFloat(subtotal);
            const ppn = isetup.form['PPN'].checked ? (subtotal / 100 * 10) : 0;
            const grandtotal = subtotal + ppn;

            isetup.form['PPNNilai'].value = getcurrencyfromfloat(ppn) || 0;
            isetup.form['SubTotal'].value = getcurrencyfromfloat(subtotal) || 0;
            isetup.form['GrandTotal'].value = getcurrencyfromfloat(grandtotal) || 0;
        }
    });
</script>