﻿@{
    ViewBag.Title = "Setup Aturan Pakai 1";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@using Inventory.Helper


<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a class="panel-action action-plus" href="javascript:isetup.opensetup('CREATE')"></a></li>
                    <li><a class="panel-action action-reload" href="javascript:itable.refresh()"></a></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <label>Filter</label>
                <input type="text" name="all" data-itable-filter="All" class="form-control" value="" />
            </div>
            <div class="col-md-2">
                <label>Jenis</label>
                <select name="jenis" onchange="itable.pageindex = 0; itable.refresh();" data-itable-filter="Jenis" class="form-control">@Html.Raw(HList.AturanPakaiSetup)</select>
            </div>
            <div class="col-md-1">
                <label>Page</label>
                <select class="form-control itable-pagesize" onchange="itable.pageindex = 0; itable.refresh();" style="width: auto;" name="show">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="col-md-2 hide">
                <button type="submit" style="margin-top : 27px" class="btn-save btn btn-primary"><i class="icon icon-search4"></i>Cari</button>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header">
            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            @*<th class="sorting" data-itable-sorting="NoUrut"><i></i></th>*@
                            <th class="sorting" data-itable-sorting="NoUrut" style="width:200px;">No Urut<i></i></th>
                            <th class="sorting" data-itable-sorting="Jenis" style="width:200px;">Jenis<i></i></th>
                            <th class="sorting" data-itable-sorting="AturanPakai">AturanPakai<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'NoUrut',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="3" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="odd">';

                        // JS Columns
                        //tbody += `<td class="text-left"><a onclick="extend(this,'${value.NoUrut}', '${value.Jenis}')"><span class='icon-diff-added'></span></a>&nbsp;${value.Jenis}</td>`;
                        // ----- JS Columns

                        // column
                        tbody += '<td>' + value.NoUrut + '</td>';
                        tbody += '<td>' + value.Jenis + '</td>';
                        tbody += '<td>' + value.AturanPakai + '</td>';

                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        tbody += '<li><a href="javascript:isetup.opensetup(\'EDIT\',{ id : \'' + value.Id + '\'})"><i class="icon-pencil"></i> Edit</a></li>';
                        tbody += '<li><a href="javascript:isetup.opensetup(\'DELETE\',{ id : \'' + value.Id + '\'})"><i class="icon-trash"></i> Delete</a></li>';

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });
        itable.refresh();

        itable.openfilter = function () {
            var f = $('#modalfilter form')[0];
            f['all'].value = $('#formtable [data-itable-filter="All"]')[0].value;
            f['jenis'].value = $('#formtable [data-itable-filter="Jenis"]')[0].value;
            //f['show'].value = $('#formtable .itable-pagesize')[0].value;
            $('#modalfilter').modal();
        }

        itable.filtersubmit = function (t, e, status) {
            e.preventDefault();
            var f = $('#modalfilter form')[0];
            $('#formtable [data-itable-filter="All"]')[0].value = f['all'].value;
            $('#formtable [data-itable-filter="Jenis"]')[0].value = f['jenis'].value;

            itable.pageindex = 0;
            itable.refresh();
            $('#modalfilter').modal('hide');
        }
    });
    const extend = (t, Kode, Nama) => {
        const tr = $(t).closest('tr');
        if (tr.next().hasClass('child')) {
            $(t).find('span').removeClass('icon-diff-removed').addClass('icon-diff-added');
            tr.next().remove();
        } else {
            tr.after(`
                <tr class="child">
                    <td class="child" colspan="5">
                        <ul>
                            <li>
                                <span class ="dtr-title">Jenis</span>
                                <span class ="dtr-data">${Jenis}</span>
                            </li>
                            <li>
                                <span class ="dtr-title">Aturan Pakai</span>
                                <span class ="dtr-data">${AturanPakai}</span>
                            </li>
                        </ul>
                    </td>
                </tr>
            `);
            $(t).find('span').removeClass('icon-diff-added').addClass('icon-diff-removed');
        }
    };
</script>
@Html.Partial("Setup")