/*v.1.2.3*/
/*v.1.2.4*/

.input-detail .select2-selection {
    border: none;
    border-radius: 0;
}

.table.datatable-basic.dataTable.no-footer.table-xxs thead tr {
    background-color: #607d8b;
    border-color: #607d8b;
    color: #fff;
}

.dataTable thead .sorting:after,
.dataTable thead .sorting:before{
    color: #fff;
}

.panel-action:after {
    font-family: icomoon;
    font-size: 16px;
    min-width: 16px;
    text-align: center;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.table-lookup tbody tr{
    cursor:pointer;
}

.action-help:after {
    content: '\e9bc';
}

.action-plus:after {
    content: '\e9b8';
}

.action-filter:after {
    content: '\ee88';
}

.action-reload:after {
    content: '\e9fb';
}

.input-detail tbody td:not(.td-text){
    padding: 0 !important;
}

.input-detail tbody input,
.input-detail tbody select{
    border: none;
}

.table-striped tbody .bg-primary {
    background-color: #2196f3 !important;
}

@media(min-width: 769px) {
    .dl-horizontal dt + dd {
        margin-top: 0;
    }
}

dd + dt {
    margin-top: 0;
}

/*==========================================================*/
#loading {
    z-index: 99999;
    position: fixed;
    background-color: #00000069;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.lds-spinner {
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
    }

        .lds-spinner div:after {
            content: " ";
            display: block;
            position: absolute;
            top: 3px;
            left: 37px;
            width: 6px;
            height: 18px;
            border-radius: 20%;
            background: #fff;
        }

        .lds-spinner div:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -1.1s;
        }

        .lds-spinner div:nth-child(2) {
            transform: rotate(30deg);
            animation-delay: -1s;
        }

        .lds-spinner div:nth-child(3) {
            transform: rotate(60deg);
            animation-delay: -0.9s;
        }

        .lds-spinner div:nth-child(4) {
            transform: rotate(90deg);
            animation-delay: -0.8s;
        }

        .lds-spinner div:nth-child(5) {
            transform: rotate(120deg);
            animation-delay: -0.7s;
        }

        .lds-spinner div:nth-child(6) {
            transform: rotate(150deg);
            animation-delay: -0.6s;
        }

        .lds-spinner div:nth-child(7) {
            transform: rotate(180deg);
            animation-delay: -0.5s;
        }

        .lds-spinner div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.4s;
        }

        .lds-spinner div:nth-child(9) {
            transform: rotate(240deg);
            animation-delay: -0.3s;
        }

        .lds-spinner div:nth-child(10) {
            transform: rotate(270deg);
            animation-delay: -0.2s;
        }

        .lds-spinner div:nth-child(11) {
            transform: rotate(300deg);
            animation-delay: -0.1s;
        }

        .lds-spinner div:nth-child(12) {
            transform: rotate(330deg);
            animation-delay: 0s;
        }

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
